<mat-card [style.height]="robotWin ? '400px' : '350px'" appearance="outlined">
  <h1 cdkFocusInitial><span style="font-size: 130%;">{{playerName}} Wins!</span></h1>
  <div class="absolute-container">
    <div class="divider-container">
      <mat-divider class="divider"></mat-divider>
    </div>
  </div>

  <!------------------ Losers (fade out) ------------------>
  <!-- X won, show O -->
  <div *ngIf="xWin && !animateLoser" class="icon-container icon-o" [class.robot-padding]="robotWin" [@fade]="'out'">o</div>
  <div *ngIf="xWin && resting" [style.color]="restColor" class="icon-container icon-o">o</div>

  <!-- O won, show X -->
  <div *ngIf="oWin && !animateLoser" class="icon-container icon-x" [@fade]="'out'">X</div>
  <div *ngIf="oWin && resting" [style.color]="restColor" class="icon-container icon-x">X</div>

  <!-- Robot won, show person -->
  <div *ngIf="robotWin && !animateLoser" class="icon-container icon-person" [class.robot-padding]="robotWin" [@fade]="'out'">
    <fa-icon [icon]="['fas', 'user']" size="9x"></fa-icon>
  </div>
  <div *ngIf="robotWin && resting" class="icon-container icon-person" [class.robot-padding]="robotWin" [style.color]="restColor">
    <fa-icon [icon]="['fas', 'user']" size="9x"></fa-icon>
  </div>

  <!-- Robot Lost, show robot -->
  <div *ngIf="robotLose && !animateLoser" class="icon-container icon-robot-lost" [@fade]="'out'">
    <fa-icon [icon]="['fas', 'robot']" size="9x"></fa-icon>
  </div>
  <div *ngIf="robotLose && resting" class="icon-container icon-robot-lost" [style.color]="restColor">
    <fa-icon [icon]="['fas', 'robot']" size="9x"></fa-icon>
  </div>

  <!------------------ Winners (fade in) ------------------>
  <!-- Skull icon fade in -->
  <div *ngIf="animateWinner && !robotWin" class="icon-container" [@fade]="'in'">
    <fa-icon [icon]="['fas', 'skull-crossbones']" size="7x" class="icon-skull"></fa-icon>
  </div>

  <!-- Robot icon fade in -->
  <div *ngIf="animateWinner && robotWin" class="icon-container icon-robot" [class.robot-padding]="robotWin" [@fade]="'in'">
    <fa-icon [icon]="['fas', 'robot']" size="7x" class="icon-skull"></fa-icon>
  </div>

  <div *ngIf="animateMessage && robotWin" class="icon-container message" [class.robot-padding]="robotWin" [@fade]="'in'">{{ message }}</div>
  <button mat-raised-button [mat-dialog-close]>Close</button>
</mat-card>
