mat-card {
  width: 320px !important;
  text-align: center;
  overflow: hidden;
}

h1 {
  margin-top: 16px;
  font-size: 200%;
}

button {
  border-radius: 0 !important;
  width: 101%;
  height: 43px;
  position: absolute;
  font-size: 130%;
  right: 0px;
  bottom: 0px;
}

.message {
  margin-top: 178px !important;
  font-size: 130%;
  font-family: monospace;
  color: rgb(190, 150, 150);
}

@media screen and (max-width: 370px) {
  .message { font-size: 125%; }
  mat-card { width: auto !important; }
}


/********************************
 * Icons
 ********************************/
.icon-container {
  position: absolute;
  width: 100%;
  margin-top: 42px;
  padding-top: 88px;
}

.robot-padding {
  padding-top: 116px;
}

.icon-x {
  font-size: 1050%;
  margin-top: -27px !important;
}

.icon-o {
  font-size: 1700%;
  margin-top: -133px !important;
}

.icon-skull {
  color: rgb(175, 0, 0);
}

.icon-person { margin-top: 26px; }

.icon-robot-lost { margin-top: 25px; }
