<c-carousel [interval]="0" [animate]="false" transition="crossfade">
  <c-carousel-indicators></c-carousel-indicators>
  <c-carousel-inner>
    <c-carousel-item *ngFor="let media of article.medias; index as i">
      <img *ngIf="!media.isVideo; else video" [src]="media.src" [alt]="media.alt" class="d-block w-100">
      <ng-template #video>
        <div style="position:relative; width:100%; height:0px; padding-bottom:56.250%" class="d-block w-100">
          <iframe allow="fullscreen" allowfullscreen height="100%" [src]="media.src | safe:'resourceUrl'" width="100%"></iframe>
        </div>
      </ng-template>
      <c-carousel-caption *ngIf="browser.isScreen767()" class="d-none d-md-block">
        <h3>{{ article.title }}</h3>
        <p>{{ article.caption }}</p>
      </c-carousel-caption>
    </c-carousel-item>
  </c-carousel-inner>
  <c-carousel-control direction="prev"></c-carousel-control>
  <c-carousel-control direction="next"></c-carousel-control>
</c-carousel>

<h4 *ngIf="!browser.isScreen767()">{{ article.title }}</h4>
