.carousel {
  margin-top: 48px;
  border-radius: 5px;
  overflow: hidden;
  min-height: 163px;
}

.carousel-item {
  transition-duration: 350ms;
}

*:not(.carousel-item) {
  transition-duration: 0ms !important;
  transition: none !important;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 16px 0 4px 0;
  bottom: 32px;
  right: 25%;
  left: 25%;
  display: block !important;
}

.navbar {
  box-shadow: inset 0 -1px 0 #21262d;
}

::ng-deep .light-theme .navbar {
  box-shadow: inset 0 -1px 0 rgb(208, 215, 222) !important;
}

h4 {
  text-align: center;
  margin: -4px 0 0 0;
  padding: 10px 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: rgb(37, 41, 47);
}

::ng-deep .light-theme h4 {
  background-color: rgb(211, 186, 183, 0.3);
}

::ng-deep .black-theme h4 {
  background-color: rgb(33, 33, 33);
}

:host ::ng-deep .visually-hidden {
  display: none;
}

c-carousel-control:hover {
  cursor: pointer;
}

::ng-deep .carousel-control-next,
::ng-deep .carousel-control-prev {
  width: 50%;
  opacity: 0.7;
}

::ng-deep .carousel-control-next:hover,
::ng-deep .carousel-control-prev:hover {
  opacity: 1;
}

::ng-deep .carousel-control-next-icon,
::ng-deep .carousel-control-prev-icon {
  height: 60px;
  width: 60px;
  position: absolute;
}

::ng-deep .carousel-control-prev-icon {
  left: 68px;
}

::ng-deep .carousel-control-next-icon {
  right: 68px;
}

::ng-deep .carousel-control-next-icon {
  margin-right: -40px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0ncmdiYSgyNTUsIDI1NSwgMjU1LCAwLjg3KSc+PHBhdGggZD0nTTQuNjQ2IDEuNjQ2YS41LjUgMCAwIDEgLjcwOCAwbDYgNmEuNS41IDAgMCAxIDAgLjcwOGwtNiA2YS41LjUgMCAwIDEtLjcwOC0uNzA4TDEwLjI5MyA4IDQuNjQ2IDIuMzU0YS41LjUgMCAwIDEgMC0uNzA4eicvPjwvc3ZnPg==);
}

::ng-deep .carousel-control-prev-icon {
  margin-left: -40px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNicgZmlsbD0ncmdiYSgyNTUsIDI1NSwgMjU1LCAwLjg3KSc+PHBhdGggZD0nTTExLjM1NCAxLjY0NmEuNS41IDAgMCAxIDAgLjcwOEw1LjcwNyA4bDUuNjQ3IDUuNjQ2YS41LjUgMCAwIDEtLjcwOC43MDhsLTYtNmEuNS41IDAgMCAxIDAtLjcwOGw2LTZhLjUuNSAwIDAgMSAuNzA4IDB6Jy8+PC9zdmc+);
}

::ng-deep .carousel-indicators button {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: var(--cui-carousel-indicator-active-bg, #fff);
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

::ng-deep .carousel-indicators button.active {
  opacity: 1;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}

@media(max-width: 768px) {
  .carousel-caption {
    padding: 6px 0 6px 0;
  }

  .carousel-caption h3 {
    margin-bottom: 2px;
  }

  .carousel-caption p {
    display: none;
  }

  .carousel {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  ::ng-deep .carousel-control-next-icon,
  ::ng-deep .carousel-control-prev-icon {
    height: 40px;
    width: 40px;
  }

  ::ng-deep .carousel-control-prev-icon {
    left: 52px;
  }

  ::ng-deep .carousel-control-next-icon {
    right: 52px;
  }
}
