h2 { margin-top: 20px; }

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.project-img,
.project-img-mobile {
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px !important;
  height: 400px;
  width: auto;
}
.project-img:hover {
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .project-img-mobile {
    height: 375px;
  }
}
@media screen and (max-width: 370px) {
  .project-img-mobile {
    height: 350px;
  }
}
@media screen and (max-width: 350px) {
  .project-img-mobile {
    height: 330px;
  }
}
@media screen and (max-width: 330px) {
  .project-img-mobile {
    height: 310px;
  }
}

mat-card-title {
  font-size: 175% !important;
}

mat-card {
  padding-top: 5px !important;
  margin-bottom: 30px;
}

.a-github {
  position: absolute;
  bottom: -13px;
  right: -10px;
}

.a-build {
  position: absolute;
  bottom: -13px;
  right: 25px;
}
