<h1>Projects.</h1>
<p>Here are some of the cool things I've made!</p>
<mat-divider></mat-divider>

<h2>TI Launchpad Handheld Slot Machine</h2>
<mat-card>
  <a class="a-github" href="https://github.com/vandents/TI-MSP432-Launchpad-Slot-Machine" target="_blank" matTooltip="GitHub" aria-label="Link to Slot Machine Project GitHub">
    <fa-icon class="icon-github" [icon]="['fab', 'github']" size="lg"></fa-icon>
  </a>
  <img *ngIf="screenWidth > 600" mat-card-image class="project-img" src="../../assets/img/slot-machine.jpg" alt="Slot Machine"
    (click)="openViewImageDialog('../../assets/img/slot-machine.jpg')" matTooltip="Enlarge" matTooltipPosition="right" aria-label="Enlarge Slot Machine Photo">
  <img *ngIf="!(screenWidth > 600)" mat-card-image class="project-img-mobile" src="../../assets/img/slot-machine.jpg" alt="Slot Machine">
  <mat-card-content>
    This handheld GameBoy-esque device is a slot machine my peer, Zakkaria Hales, and I created for a final project in a microcontroller
    class. The slot machine uses a TI MSP432 Launchpad microcontroller. Creating both the hardware <b>and</b> software made this by far one of my favorite projects.
  </mat-card-content>
  <mat-card-content>
    The goal of the project was to design a slot machine using a 16x4 LCD for UI, a keypad for credit
    entry, pushbuttons for gameplay and a speaker and tri-color LED for win condition notifications. The heart of
    the system is a TI MSP432 Launchpad microcontroller. Additional features include a penny slot for credit entry,
    a side door opened by a positional servo for penny retrieval, a rechargeable battery, a switch for power
    control and blue relaxing ambient lighting (a string of LEDs I stole from an old Halloween costume).
  </mat-card-content>
</mat-card>

<h2>GVSU Robo Sockey robot "The Boi"</h2>
<mat-card>
  <a class="a-github" href="https://github.com/vandents/Robo-Sockey-arduino-robot-the-boi" target="_blank"
    matTooltip="GitHub" aria-label="Link to Slot Machine Project GitHub">
    <fa-icon class="icon-github" [icon]="['fab', 'github']" size="lg"></fa-icon>
  </a>
  <img *ngIf="screenWidth > 600" mat-card-image class="project-img" src="../../assets/img/the-boi.jpg"
    alt="Slot Machine" (click)="openViewImageDialog('../../assets/img/the-boi.jpg')" matTooltip="Enlarge"
    matTooltipPosition="right" aria-label="Enlarge Slot Machine Photo">
  <img *ngIf="!(screenWidth > 600)" mat-card-image class="project-img-mobile" src="../../assets/img/the-boi.jpg"
    alt="Slot Machine">
  <mat-card-content>
    GVSU's Robo Sockey competition, a mix between soccer and hockey, is a semester long competition between all of the
    students enrolled in Introduction to Engineering II. Students are tasked with creating an Arduino robot from
    scratch that could navigate itself through obstacles without human assistance. Using a 6-foot-by-6-foot arena, teams
    have three minutes to compete with each other to deliver the most amount of balls into a goal. Teams of 4 were assigned
    at the beginning of the semester, with about 40 teams competing in the competition.
  </mat-card-content>
  <mat-card-content>
    I was fortunate to be a part of an amzing team. Our robot, named "The Boi", implemented many original design features.
    We not only obtained first place, but also earned the Design Innovation Award.
  </mat-card-content>
</mat-card>

<h2>scottvandentoorn.com</h2>
<mat-card>
  <a class="a-github" href="https://github.com/vandents/scottvandentoorn.com" target="_blank"
  matTooltip="GitHub" aria-label="Link to Slot Machine Project GitHub">
    <fa-icon class="icon-github" [icon]="['fab', 'github']" size="lg"></fa-icon>
  </a>
  <mat-card-content style="margin-top:5px;">
    This is the website you are currently on. I made it from scratch using the Angular framework. I'm pretty proud of it as it's only the second thing I've ever programmed that's not in C!
  </mat-card-content>
</mat-card>
