h1 {
  align-self: center;
  font-size: 200%;
}

button {
  min-height: 168px;
}

.button-text {
  padding-top: 6px;
}

@media screen and (max-width: 470px) {
  .mat-dialog-title {
    font-size: 175%;
  }
}

@media screen and (max-width: 425px) {
  .mat-dialog-title {
    font-size: 165%;
  }
}

@media screen and (max-width: 390px) {
  .mat-dialog-title {
    font-size: 155%;
  }
}

@media screen and (max-width: 370px) {
  .mat-dialog-title {
    font-size: 145%;
  }
}
