/********************************
 * Game Board
 ********************************/

mat-grid-list {
  background-color: rgb(33, 33, 33);
  border-radius: 4px;
}

mat-grid-tile {
  transition: 0.1s;
}

mat-grid-tile:hover {
  background-color: rgb(38, 38, 38);
  cursor: pointer;
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  mat-grid-tile:hover { background-color:  rgb(33, 33, 33); }
}


/********************************
 * Game Board Lines
 ********************************/

.horizontal-1 {
  position: absolute;
  margin-top: calc(33.333%);
  width: 100%;
  border: 4px solid #303030 !important;
}

.horizontal-2 {
  position: absolute;
  margin-top: calc(66.666%);
  width: 100%;
  border: 4px solid #303030 !important;
}

.vertical-1 {
  position: absolute;
  margin-left: calc(33.333%);
  height: 100%;
  border: 4px solid #303030 !important;
}

.vertical-2 {
  position: absolute;
  margin-left: calc(66.666%);
  height: 100%;
  border: 4px solid #303030 !important;
}

@media screen and (max-width: 992px) {
  .horizontal-1 { border: 3px solid #303030 !important; }
  .horizontal-2 { border: 3px solid #303030 !important; }
  .vertical-1 { border: 3px solid #303030 !important; }
  .vertical-2 { border: 3px solid #303030 !important; }
}


/********************************
 * Board Icons
 ********************************/

/* Have to put margins on o because it's a lowercase letter */
.o-player {
  font-size: 1250%;
  margin-top: -42px;
}
.x-player { font-size: 875%; }
@media screen and (max-width: 1199px) {
  .o-player { margin-top: -47px; }
}
@media screen and (max-width: 992px) {
  .o-player {
    font-size: 950%;
    margin-top: -33px;
  }
  .x-player { font-size: 675%; }
}
@media screen and (max-width: 500px) {
  .o-player {
    font-size: 760%;
    margin-top: -30px;
  }
  .x-player { font-size: 550%; }
}
@media screen and (max-width: 450px) {
  .o-player { margin-top: -26px; }
}


/********************************
 * Angular Materical Card (for action cards)
 ********************************/

mat-card { text-align: center; }

mat-card-content { margin: 0; }


/********************************
 * Action Card Side
 ********************************/

.actions-side {
  float: right;
  width: 230px;
}

.cur-player-side {
  float: right;
  height: 270px;
  width: 230px;
}

.reset-btn-side {
  background-color: rgb(33, 33, 33);
  width: 100%;
  margin-top: 7px;
  margin-bottom: 20px;
}

.change-btn-side {
  background-color: rgb(33, 33, 33);
  width: 100%;
}


/********************************
 * Action Card Bottom
 ********************************/

.reset-btn-bottom {
  background-color: rgb(33, 33, 33);
  position: absolute;
  right: 4px;
  top: 42px;
  height: 47px;
  width: 60%;
}

.change-btn-bottom {
  background-color: rgb(33, 33, 33);
  position: absolute;
  right: 4px;
  top: -10px;
  height: 47px;
  width: 60%;
}

@media screen and (max-width: 530px) {
  .reset-btn-bottom { width: 80%; }
  .change-btn-bottom { width: 80%; }
}
@media screen and (max-width: 400px) {
  .reset-btn-bottom { width: 90%; }
  .change-btn-bottom { width: 90%; }
}

.actions-bottom {
  margin-top: 20px;
  height: 110px;
}

.actions-bottom mat-card { width: 100% !important; }

.actions-bottom mat-card-title { font-size: 100%; }


/********************************
 * Current Player Icons
 ********************************/

.x-turn {
  font-size: 1400%;
  margin-top: -51px !important;
}
.o-turn {
  font-size: 2000%;
  margin-top: -140px !important;
}
.robot-turn { margin-top: 35px !important; }
@media screen and (max-width: 767px) {
  .x-turn {
    font-size: 400%;
    margin-top: -10px !important;
  }
  .o-turn {
    font-size: 575%;
    margin-top: -37px !important;
  }
  .robot-turn { margin-top: 15px !important; }
}
