.game-card {
  height: 550px;
  width: 550px;
}

.side-card {
  height: 235px;
  width: 235px;
}

.bottom-card {
  height: 75px;
  width: 510px;
  margin-top: 15px !important;
  margin-left: 20px;
}

.bottom-card-title {
  position: absolute;
  bottom: 25px;
  left: 15px;
  right: 0;
}

.btn-reset-top {
  position: absolute;
  padding-top: 5px;
  bottom: -15px;
  right: -15px;
  margin-top: 5px
}
.btn-reset-top:hover {
  background-color: rgb(220, 220, 220);
  transition: background-color .25s .02s;
}

.btn-reset-bottom {
  position: absolute;
  padding-top: 5px;
  right: 15px;
  margin-top: 7px
}
.btn-reset-bottom:hover {
  background-color: rgb(220, 220, 220);
  transition: background-color .25s .02s;
}
.btn-reset-bottom h6 {
  color: rgb(66, 66, 66);
  font-size: 105%;
}

.x-turn {
  position: absolute;
  font-size: 1400%;
  padding-left: 40px;
  margin-top: -51px !important;
}

.o-turn {
  position: absolute;
  font-size: 2000%;
  padding-left: 21px;
  margin-top: -140px !important;
}

.x-turn-bottom {
  position: absolute;
  font-size: 400%;
  padding-left: 135px;
  margin-top: -25px !important;
}

.o-turn-bottom {
  position: absolute;
  font-size: 580%;
  padding-left: 128px;
  margin-top: -56px !important;
}

.btn-reset {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 0;
}

.noMarginPadding {
  padding: 0px 0px !important;
  margin: 0px 0px !important;
}

.div1 {
  margin-top: 160px !important;
  border: 2px solid;
}

.div2 {
  margin-top: 350px;
  border: 2px solid;
}

.div3 {
  position: absolute;
  border: 4px solid;
  height: 100%;
  margin-top: -16px;
  margin-left: 160px;
  width: 0px !important;
}

.div4 {
  position: absolute;
  border: 4px solid;
  height: 550px;
  margin-top: -16px;
  margin-left: 350px;
  width: 0px !important;
}

/* 1st row */
.x00 {
  font-size: 500%;
  position: absolute;
  padding-top: 15px;
  padding-left: 45px;
}

.o00 {
  font-size: 700%;
  position: absolute;
  margin-top: -20px !important;
  padding-left: 40px;
}

.x01 {
  font-size: 500%;
  position: absolute;
  padding-top: 15px;
  padding-left: 230px;
}

.o01 {
  font-size: 700%;
  position: absolute;
  margin-top: -20px !important;
  padding-left: 225px;
}

.x02 {
  font-size: 500%;
  position: absolute;
  padding-top: 15px;
  padding-left: 420px;
}

.o02 {
  font-size: 700%;
  position: absolute;
  margin-top: -20px !important;
  padding-left: 415px;
}

/* 2nd row */
.x10 {
  font-size: 500%;
  position: absolute;
  padding-top: 200px;
  padding-left: 45px;
}

.o10 {
  font-size: 700%;
  position: absolute;
  padding-top: 165px;
  padding-left: 40px;
}

.x11 {
  font-size: 500%;
  position: absolute;
  padding-top: 200px;
  padding-left: 230px;
}

.o11 {
  font-size: 700%;
  position: absolute;
  padding-top: 165px;
  padding-left: 225px;
}

.x12 {
  font-size: 500%;
  position: absolute;
  padding-top: 200px;
  padding-left: 420px;
}

.o12 {
  font-size: 700%;
  position: absolute;
  margin-top: 165px !important;
  padding-left: 415px;
}

/* 3rd row */
.x20 {
  font-size: 500%;
  position: absolute;
  padding-top: 385px;
  padding-left: 45px;
}

.o20 {
  font-size: 700%;
  position: absolute;
  padding-top: 350px;
  padding-left: 40px;
}

.x21 {
  font-size: 500%;
  position: absolute;
  padding-top: 385px;
  padding-left: 230px;
}

.o21 {
  font-size: 700%;
  position: absolute;
  padding-top: 350px;
  padding-left: 225px;
}

.x22 {
  font-size: 500%;
  position: absolute;
  padding-top: 385px;
  padding-left: 420px;
}

.o22 {
  font-size: 700%;
  position: absolute;
  margin-top: 350px !important;
  padding-left: 415px;
}

/* 1st Row */
.span00 {
  position: absolute;
  width: 155px;
  height: 155px;
  margin-top: -10px !important;
  margin-left: -5px;
}
.span00:hover { cursor: pointer; }

.span01 {
  position: absolute;
  width: 170px;
  height: 155px;
  margin-top: -10px !important;
  margin-left: 170px;
}
.span01:hover { cursor: pointer; }

.span02 {
  position: absolute;
  width: 160px;
  height: 155px;
  margin-top: -10px !important;
  margin-left: 360px;
}
.span02:hover { cursor: pointer; }

/* 2nd Row */
.span10 {
  position: absolute;
  width: 155px;
  height: 170px;
  margin-top: 170px;
  margin-left: -5px;
}
.span10:hover { cursor: pointer; }

.span11 {
  position: absolute;
  width: 170px;
  height: 170px;
  margin-top: 170px;
  margin-left: 170px;
}
.span11:hover { cursor: pointer; }

.span12 {
  position: absolute;
  width: 160px;
  height: 170px;
  margin-top: 170px;
  margin-left: 360px;
}
.span12:hover { cursor: pointer; }

/* 3rd Row */
.span20 {
  position: absolute;
  width: 155px;
  height: 165px;
  margin-top: 360px;
  margin-left: -5px;
}
.span20:hover { cursor: pointer; }

.span21 {
  position: absolute;
  width: 170px;
  height: 165px;
  margin-top: 360px;
  margin-left: 170px;
}
.span21:hover { cursor: pointer; }

.span22 {
  position: absolute;
  width: 160px;
  height: 165px;
  margin-top: 360px;
  margin-left: 360px;
}
.span22:hover { cursor: pointer; }