<div class="row">
  <div class="col-lg-7 col-md-8 col-12">
    <!--------------------  Game Board  -------------------->
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="0">
      <!----------  Tile 0  ---------->
      <mat-grid-tile (click)="squareClicked(0)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[0].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[0].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[0].winSpot">
            <div *ngIf="board[0].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[0].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[0].winSpot">
            <div *ngIf="board[0].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[0].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Tile 1  ---------->
      <mat-grid-tile (click)="squareClicked(1)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[1].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[1].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[1].winSpot">
            <div *ngIf="board[1].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[1].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[1].winSpot">
            <div *ngIf="board[1].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[1].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Tile 2  ---------->
      <mat-grid-tile (click)="squareClicked(2)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[2].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[2].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[2].winSpot">
            <div *ngIf="board[2].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[2].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[2].winSpot">
            <div *ngIf="board[2].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[2].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Tile 3  ---------->
      <mat-grid-tile (click)="squareClicked(3)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[3].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[3].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[3].winSpot">
            <div *ngIf="board[3].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[3].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[3].winSpot">
            <div *ngIf="board[3].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[3].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Tile 4  ---------->
      <mat-grid-tile (click)="squareClicked(4)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[4].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[4].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[4].winSpot">
            <div *ngIf="board[4].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[4].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[4].winSpot">
            <div *ngIf="board[4].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[4].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Tile 5  ---------->
      <mat-grid-tile (click)="squareClicked(5)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[5].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[5].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[5].winSpot">
            <div *ngIf="board[5].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[5].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[5].winSpot">
            <div *ngIf="board[5].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[5].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Tile 6  ---------->
      <mat-grid-tile (click)="squareClicked(6)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[6].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[6].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[6].winSpot">
            <div *ngIf="board[6].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[6].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[6].winSpot">
            <div *ngIf="board[6].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[6].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Tile 7  ---------->
      <mat-grid-tile (click)="squareClicked(7)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[7].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[7].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[7].winSpot">
            <div *ngIf="board[7].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[7].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[7].winSpot">
            <div *ngIf="board[7].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[7].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Tile 8  ---------->
      <mat-grid-tile (click)="squareClicked(8)">
        <!-- Gameplay Icons -->
        <span *ngIf="!gameOver">
          <div *ngIf="board[8].x" class="x-player" [@fastFade]="'in'">X</div>
          <div *ngIf="board[8].o" [@fastFade]="'in'">
            <div *ngIf="!isRobot" class="o-player">o</div>
            <div *ngIf="isRobot">
              <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x" [@fastFade]="'in'"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x" [@fastFade]="'in'"></fa-icon>
              <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x" [@fastFade]="'in'"></fa-icon>
            </div>
          </div>
        </span>
        <!-- Win Animations -->
        <span *ngIf="gameOver">
          <!-- Turn grey -->
          <span *ngIf="!board[8].winSpot">
            <div *ngIf="board[8].x" class="x-player" [@grey]="'in'">X</div>
            <span *ngIf="board[8].o" [@grey]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
          <!-- Turn blue -->
          <span *ngIf="board[8].winSpot">
            <div *ngIf="board[8].x" class="x-player" [@blue]="'in'">X</div>
            <span *ngIf="board[8].o" [@blue]="'in'">
              <div *ngIf="!isRobot" class="o-player">o</div>
              <span *ngIf="isRobot">
                <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
                <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
              </span>
            </span>
          </span>
        </span>
      </mat-grid-tile>


      <!----------  Board Lines  ---------->
      <mat-divider class="horizontal-1"></mat-divider>
      <mat-divider class="horizontal-2"></mat-divider>
      <mat-divider class="vertical-1" [vertical]="true"></mat-divider>
      <mat-divider class="vertical-2" [vertical]="true"></mat-divider>
    </mat-grid-list>
  </div>
  
  <!--------------------  Side Action Card (desktop)  -------------------->
  <div *ngIf="browser.isScreen767()" class="col-lg-5 col-md-4">
    <div class="actions-side clearfix">
      <button mat-button class="change-btn-side" (click)="changeOpponent()">
        <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
        &nbsp;&nbsp;Change Opponent
      </button>
      <button mat-button class="reset-btn-side" (click)="resetBoard()">
        <fa-icon [icon]="['fas', 'undo-alt']"></fa-icon>
        &nbsp;&nbsp;Reset Board
      </button>
    </div>

    <mat-card class="cur-player-side clearfix">
      <mat-card-title cdkFocusInitial>Current Player</mat-card-title>
      <div class="divider-container" style="margin-top: -4px !important;">
        <mat-divider></mat-divider>
      </div>
      <mat-card-content>
        <div *ngIf="isTurnX" class="x-turn" [@mediumFade]="'in'">X</div>
        <div *ngIf="!isTurnX && !isRobot" class="o-turn" [@mediumFade]="'in'">o</div>
        <div *ngIf="!isTurnX && isRobot" class="robot-turn" [@mediumFade]="'in'"><fa-icon [icon]="['fas', 'robot']" size="10x"></fa-icon></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!--------------------  Bottom Action Card (mobile)  -------------------->
<div *ngIf="!browser.isScreen767()" class="row">
  <div class="col-12">
    <mat-card class="actions-bottom">
      <div class="row">
        <div class="col-5">
          <mat-card-title cdkFocusInitial style="margin-top: -10px;">Current Player</mat-card-title>
          <div class="divider-container" style="margin-top: -6px !important;">
            <mat-divider></mat-divider>
          </div>
          <mat-card-content>
            <div *ngIf="isTurnX" class="x-turn" [@mediumFade]="'in'">X</div>
            <div *ngIf="!isTurnX && !isRobot" class="o-turn" [@mediumFade]="'in'">o</div>
            <div *ngIf="!isTurnX && isRobot" class="robot-turn" [@mediumFade]="'in'">
              <fa-icon [icon]="['fas', 'robot']" size="4x" transform="shrink-2.5"></fa-icon>
            </div>
          </mat-card-content>
        </div>

        <div class="col-7">
          <button mat-button class="change-btn-bottom" (click)="changeOpponent()">
            <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
            &nbsp;Change Opponent
          </button>
          <button mat-button class="reset-btn-bottom" (click)="resetBoard()">
            <fa-icon [icon]="['fas', 'undo-alt']"></fa-icon>
            &nbsp;Reset Board
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
