<div class="row">
  <div class="col-lg-7 col-md-8 col-12">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="0">
      <mat-grid-tile>
        <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
        <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
        <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>
      <mat-grid-tile>
        
      </mat-grid-tile>

      <mat-divider class="horizontal-1"></mat-divider>
      <mat-divider class="horizontal-2"></mat-divider>
      <mat-divider class="vertical-1" [vertical]="true"></mat-divider>
      <mat-divider class="vertical-2" [vertical]="true"></mat-divider>
    </mat-grid-list>


    <div *ngIf="false">
    <mat-card class="game-card">
      <!-- 1st row -->
      <span *ngIf="xArray[0][0]" class="x00">X</span>
      <span *ngIf="oArray[0][0] && !isRobot" class="o00">o</span>
      <span *ngIf="xArray[0][1]" class="x01">X</span>
      <span *ngIf="oArray[0][1] && !isRobot" class="o01">o</span>
      <span *ngIf="xArray[0][2]" class="x02">X</span>
      <span *ngIf="oArray[0][2] && !isRobot" class="o02">o</span>
      <fa-icon *ngIf="oArray[0][0] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot00"></fa-icon>
      <fa-icon *ngIf="oArray[0][1] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot01"></fa-icon>
      <fa-icon *ngIf="oArray[0][2] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot02"></fa-icon>

      <!-- 2nd row -->
      <span *ngIf="xArray[1][0]" class="x10">X</span>
      <span *ngIf="oArray[1][0] && !isRobot" class="o10">o</span>
      <span *ngIf="xArray[1][1]" class="x11">X</span>
      <span *ngIf="oArray[1][1] && !isRobot" class="o11">o</span>
      <span *ngIf="xArray[1][2]" class="x12">X</span>
      <span *ngIf="oArray[1][2] && !isRobot" class="o12">o</span>
      <fa-icon *ngIf="oArray[1][0] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot10"></fa-icon>
      <fa-icon *ngIf="oArray[1][1] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot11"></fa-icon>
      <fa-icon *ngIf="oArray[1][2] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot12"></fa-icon>

      <!-- 3rd row -->
      <span *ngIf="xArray[2][0]" class="x20">X</span>
      <span *ngIf="oArray[2][0] && !isRobot" class="o20">o</span>
      <span *ngIf="xArray[2][1]" class="x21">X</span>
      <span *ngIf="oArray[2][1] && !isRobot" class="o21">o</span>
      <span *ngIf="xArray[2][2]" class="x22">X</span>
      <span *ngIf="oArray[2][2] && !isRobot" class="o22">o</span>
      <fa-icon *ngIf="oArray[2][0] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot20"></fa-icon>
      <fa-icon *ngIf="oArray[2][1] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot21"></fa-icon>
      <fa-icon *ngIf="oArray[2][2] && isRobot" [icon]="['fas', 'robot']" size="6x" class="robot22"></fa-icon>

      <!-- Clickable parts of the board -->
      <span *ngIf="isBoardClickEnabled()">
        <span (click)="squareClicked(0, 0)" class="span00"></span>
        <span (click)="squareClicked(0, 1)" class="span01"></span>
        <span (click)="squareClicked(0, 2)" class="span02"></span>
        <span (click)="squareClicked(1, 0)" class="span10"></span>
        <span (click)="squareClicked(1, 1)" class="span11"></span>
        <span (click)="squareClicked(1, 2)" class="span12"></span>
        <span (click)="squareClicked(2, 0)" class="span20"></span>
        <span (click)="squareClicked(2, 1)" class="span21"></span>
        <span (click)="squareClicked(2, 2)" class="span22"></span>
      </span>

      <!-- Board lines -->
      <mat-divider class="div1"></mat-divider>
      <mat-divider class="div2"></mat-divider>
      <mat-divider [vertical]="true" class="div3"></mat-divider>
      <mat-divider [vertical]="true" class="div4"></mat-divider>
      <button *ngIf="browser.isScreen992()" mat-flat-button color="primary" class="btn-reset-top" (click)="resetBoard()">
        <h6 style="color: rgb(66, 66, 66);">Reset Board</h6>
      </button>
    </mat-card>
    </div>
  </div>

  <!-- <div *ngIf="browser.isScreen767()" class="col-lg-5 col-md-4">
    <div style="position: absolute; right: 20%;">
      <h2>&nbsp;&nbsp;Current Player</h2>
      <mat-card class="side-card">
        <mat-card-content class="noMarginPadding">
          <div *ngIf="whosTurn" class="x-turn">X</div>
          <div *ngIf="!whosTurn && !isRobot" class="o-turn">o</div>
          <fa-icon *ngIf="!whosTurn && isRobot" [icon]="['fas', 'robot']" size="10x" class="robot-turn"></fa-icon>
        </mat-card-content>
      </mat-card>
    </div>
  </div> -->

  <div *ngIf="browser.isScreen767()" class="col-lg-5 col-md-4">
    <div class="actions-side clearfix">
      <button mat-button class="change-btn-side">
        <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
        &nbsp;&nbsp;Change Opponent
      </button>
      <button mat-button class="reset-btn-side">
        <fa-icon [icon]="['fas', 'undo-alt']"></fa-icon>
        &nbsp;&nbsp;Reset Board
      </button>
    </div>

    <mat-card class="cur-player-side clearfix">
      <mat-card-title cdkFocusInitial>Current Player</mat-card-title>
      <div class="divider-container" style="margin-top: -4px !important;">
        <mat-divider></mat-divider>
      </div>
      <mat-card-content>
        <div *ngIf="whosTurn" class="x-turn" [@mediumFade]="'in'">X</div>
        <div *ngIf="!whosTurn && !isRobot" class="o-turn" [@mediumFade]="'in'">o</div>
        <div *ngIf="!whosTurn && isRobot" class="robot-turn" [@mediumFade]="'in'"><fa-icon [icon]="['fas', 'robot']" size="10x"></fa-icon></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <div *ngIf="!browser.isScreen767()" class="row">
  <div class="col-7">
    <mat-card class="bottom-card">
      <span class="bottom-card-title">Current Player:</span>
      <span *ngIf="whosTurn" class="x-turn-bottom">X</span>
      <span *ngIf="!whosTurn && !isRobot" class="o-turn-bottom">o</span>
      <fa-icon *ngIf="!whosTurn && isRobot" [icon]="['fas', 'robot']" size="3x" class="robot-turn-bottom"></fa-icon>
      <button mat-flat-button color="primary" class="btn-reset-bottom" (click)="resetBoard()">
        <h6>Reset Board</h6>
      </button>
    </mat-card>
  </div>
</div> -->

<div *ngIf="!browser.isScreen767()" class="row">
  <div class="col-12">
    <mat-card class="cur-player-bottom">
      <div class="row">
        <div class="col-5">
          <mat-card-title cdkFocusInitial style="margin-top: -10px;">Current Player</mat-card-title>
          <div class="divider-container" style="margin-top: -6px !important;">
            <mat-divider></mat-divider>
          </div>
          <mat-card-content>
            <div *ngIf="whosTurn" class="x-turn" [@mediumFade]="'in'">X</div>
            <div *ngIf="!whosTurn && !isRobot" class="o-turn" [@mediumFade]="'in'">o</div>
            <div *ngIf="!whosTurn && isRobot" class="robot-turn" [@mediumFade]="'in'">
              <fa-icon [icon]="['fas', 'robot']" size="4x" transform="shrink-2.5"></fa-icon>
            </div>
          </mat-card-content>
        </div>
        <div class="col-7">
          <button mat-button class="change-btn-bottom">
            <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
            &nbsp;Change Opponent
          </button>
          <button mat-button class="reset-btn-bottom">
            <fa-icon [icon]="['fas', 'undo-alt']"></fa-icon>
            &nbsp;Reset Board
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
