/********************************
 * Game Board
 ********************************/

mat-grid-list {
  border-radius: 4px;
}

.black-grid {
  background-color: rgb(33, 33, 33);
}

.light-grid {
  background-color: white;
}

mat-grid-tile {
  transition: 0.1s;
}

mat-grid-tile:hover {
  cursor: pointer;
  transition: 0.2s;
}

.light-grid mat-grid-tile:hover {
  background-color: rgb(245, 245, 245);
}

.dark-grid mat-grid-tile:hover {
  background-color: rgb(245, 245, 245, 0.05);
}

@media screen and (max-width: 768px) {
  mat-grid-tile:hover {
    background-color:  rgb(33, 33, 33);
  }

  .light-grid mat-grid-tile:hover {
    background-color: white;
  }
}


/********************************
 * Game Board Lines
 ********************************/

.horizontal-1 {
  position: absolute;
  margin-top: calc(33.333%);
  width: 100%;
  border: 4px solid #303030 !important;
}

.horizontal-2 {
  position: absolute;
  margin-top: calc(66.666%);
  width: 100%;
  border: 4px solid #303030 !important;
}

.vertical-1 {
  position: absolute;
  margin-left: calc(33.333%);
  height: 100%;
  border: 4px solid #303030 !important;
}

.vertical-2 {
  position: absolute;
  margin-left: calc(66.666%);
  height: 100%;
  border: 4px solid #303030 !important;
}

@media screen and (max-width: 992px) {
  .horizontal-1 { border: 3px solid #303030 !important; }
  .horizontal-2 { border: 3px solid #303030 !important; }
  .vertical-1 { border: 3px solid #303030 !important; }
  .vertical-2 { border: 3px solid #303030 !important; }
}

.dark-grid .horizontal-1,
.dark-grid .horizontal-2,
.dark-grid .vertical-1,
.dark-grid .vertical-2 {
  border-color: rgb(37, 41, 47) !important;
}


/********************************
 * Board Icons
 ********************************/

/* Have to put margins on o because it's a lowercase letter */
.o-player {
  font-size: 1250%;
  margin-top: -42px;
  user-select: none;
}
.x-player {
  font-size: 875%;
  user-select: none;
}
@media screen and (max-width: 1199px) {
  .o-player { margin-top: -47px; }
}
@media screen and (max-width: 992px) {
  .o-player {
    font-size: 950%;
    margin-top: -33px;
  }
  .x-player { font-size: 675%; }
}
@media screen and (max-width: 500px) {
  .o-player {
    font-size: 760%;
    margin-top: -30px;
  }
  .x-player { font-size: 550%; }
}
@media screen and (max-width: 450px) {
  .o-player { margin-top: -26px; }
}


/********************************
 * Mat Card
 ********************************/

mat-card {
  text-align: center;
  overflow: hidden;
  padding: 16px;
}

mat-card-content { margin: 0; }


/********************************
 * Action Card Side
 ********************************/

.actions-side {
  float: right;
  width: 230px;
}

.cur-player-side {
  float: right;
  height: 269px;
  width: 230px;
}

.win-stats-side {
  float: right;
  height: 244px;
  width: 230px;
  margin-top: 20px;
}

.win-name-side {
  font-size: 100%;
  text-align: left;
  padding: 0px 0px 0px 18px;
  margin-top: 12px !important;
}

.win-num-side {
  font-size: 100%;
  text-align: right;
  padding: 0px 3px 0px 0px;
  margin-top: 12px !important;
}

.stats-date {
  font-size: 75%;
}

.reset-btn-side {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 20px;
}

.change-btn-side {
  width: 100%;
}


/********************************
 * Actions Bottom
 ********************************/

.reset-btn-bottom {
  position: absolute;
  right: 4px;
  top: 42px;
  height: 47px;
  width: 60%;
}

.change-btn-bottom {
  position: absolute;
  right: 4px;
  top: -10px;
  height: 47px;
  width: 60%;
}

@media screen and (max-width: 530px) {
  .reset-btn-bottom { width: 80%; }
  .change-btn-bottom { width: 80%; }
}
@media screen and (max-width: 400px) {
  .reset-btn-bottom { width: 90%; }
  .change-btn-bottom { width: 90%; }
}

.actions-bottom {
  margin-top: 20px;
  height: 110px;
}

.actions-bottom mat-card { width: 100% !important; }

.actions-bottom mat-card-title { font-size: 100%; }

.win-stats-bottom {
  margin-top: 20px;
}

.form-field {
  width: 33%;
  color: white !important;
}

.mat-expansion-panel-header-description {
  flex-grow: 1;
  justify-content: end;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 0;
}


/********************************
 * Current Player Icons
 ********************************/

.x-turn {
  font-size: 1400%;
  margin-top: -61px !important;
  user-select: none;
}
.o-turn {
  font-size: 2000%;
  margin-top: -170px !important;
  user-select: none;
  margin-left: -10px;
}
.robot-turn {
  margin-top: 25px !important;
  user-select: none;
  margin-left: -16px;
}
@media screen and (max-width: 767px) {
  .x-turn {
    font-size: 400%;
    margin-top: -10px !important;
  }
  .o-turn {
    font-size: 575%;
    margin-top: -37px !important;
  }
  .robot-turn { margin-top: 15px !important; }
}


/********************************
 * Animations (animate.enter / animate.leave)
 ********************************/

/* fastFade: Board icons - enter opacity 0.5→1 in 300ms */
@keyframes fast-fade-enter {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
.fast-fade-enter {
  animation: fast-fade-enter 300ms ease;
}

/* fastFade: Board icons - leave opacity 1→0 in 350ms */
@keyframes fast-fade-leave {
  from { opacity: 1; }
  to { opacity: 0; }
}
.fast-fade-leave {
  animation: fast-fade-leave 350ms ease;
}

/* mediumFade: "Current Player" icons - enter opacity 0.2→1 in 450ms */
@keyframes medium-fade-enter {
  from { opacity: 0.2; }
  to { opacity: 1; }
}
.medium-fade-enter {
  animation: medium-fade-enter 450ms ease;
}

/* blue: Winning icons - enter opacity 0.5→1 in 400ms, color #007bff */
@keyframes blue-enter {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
.blue-enter {
  color: #007bff;
  animation: blue-enter 400ms ease;
}

/* blue: Winning icons - leave opacity 1→0.3 in 350ms */
@keyframes blue-leave {
  from { opacity: 1; }
  to { opacity: 0.3; }
}
.blue-leave {
  color: #007bff;
  animation: blue-leave 350ms ease;
}

/* grey: Losing icons - enter opacity 0.5→1 in 400ms, color #333 */
@keyframes grey-enter {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
.grey-enter {
  color: #333333;
  animation: grey-enter 400ms ease;
}

/* grey: Losing icons - leave opacity 1→0.3 in 350ms */
@keyframes grey-leave {
  from { opacity: 1; }
  to { opacity: 0.3; }
}
.grey-leave {
  color: #333333;
  animation: grey-leave 350ms ease;
}
