<h1>Tic-Tac-Toe.</h1>
<p style="margin-bottom: 32px;">
  A game I made when I first learned Angular. Mr. Roboto will kick your butt!
</p>

<div class="row">
  <!--------------------  Game Board  -------------------->
  <div class="col-lg-7 col-md-8 col-12">
    <mat-grid-list cols="3" rowHeight="1:1" gutterSize="0" [ngClass]="getGridTheme()">
      <!----------  Tiles  ---------->
      <mat-grid-tile *ngFor="let i of boardPositions" (click)="squareClicked(i)">
        <ng-container [ngTemplateOutlet]="tileTemplate" [ngTemplateOutletContext]="{ i: i }">
        </ng-container>
      </mat-grid-tile>

      <!----------  Board Lines  ---------->
      <mat-divider class="horizontal-1"></mat-divider>
      <mat-divider class="horizontal-2"></mat-divider>
      <mat-divider class="vertical-1" [vertical]="true"></mat-divider>
      <mat-divider class="vertical-2" [vertical]="true"></mat-divider>
    </mat-grid-list>
  </div>

  <!--------------------  Side Actions (desktop)  -------------------->
  <div *ngIf="browser.isScreen767()" class="col-lg-5 col-md-4">
    <!----------  Buttons  ---------->
    <div class="actions-side clearfix">
      <button mat-raised-button class="change-btn-side" color="primary" (click)="changeOpponent()">
        <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
        &nbsp;&nbsp;Change Opponent
      </button>
      <button mat-raised-button class="reset-btn-side" color="primary" (click)="resetBoard()">
        <fa-icon [icon]="['fas', 'undo-alt']"></fa-icon>
        &nbsp;&nbsp;Reset Board
      </button>
    </div>

    <!----------  Current Player  ---------->
    <mat-card class="cur-player-side clearfix" appearance="outlined">
      <mat-card-title cdkFocusInitial>Current Player</mat-card-title>
      <div class="divider-container" style="margin-top: -4px !important;">
        <mat-divider></mat-divider>
      </div>
      <mat-card-content>
        <div *ngIf="isTurnX" class="x-turn" [@mediumFade]="'in'">X</div>
        <div *ngIf="!isTurnX && !isRobot" class="o-turn" [@mediumFade]="'in'">o</div>
        <div *ngIf="!isTurnX && isRobot" class="robot-turn" [@mediumFade]="'in'">
          <fa-icon [icon]="['fas', 'robot']" size="10x"></fa-icon>
        </div>
      </mat-card-content>
    </mat-card>

    <!----------  Win Stats  ---------->
    <mat-card class="win-stats-side clearfix" *ngIf="browser.isScreen992()" appearance="outlined">
      <mat-card-title cdkFocusInitial>Win Statistics</mat-card-title>
      <p class="stats-date">Since July 31, 2019</p>
      <div class="divider-container" style="margin-top: -10px !important;">
        <mat-divider></mat-divider>
      </div>

      <div class="row" style="padding-top: 5px;">
        <div class="col-7 win-name-side">&nbsp;Mr. Roboto</div>
        <div class="col-4 win-num-side" *ngIf="players != null"><b>{{players.robotWins}}</b></div>
        <div class="col-4 win-num-side" *ngIf="players == null">...</div>
      </div>
      <div class="row">
        <div class="col-7 win-name-side">&nbsp;Humans</div>
        <div class="col-4 win-num-side" *ngIf="players != null"><b>{{players.humanWins}}</b></div>
        <div class="col-4 win-num-side" *ngIf="players == null">...</div>
      </div>
      <div class="row">
        <div class="col-7 win-name-side">&nbsp;Draw</div>
        <div class="col-4 win-num-side" *ngIf="players != null"><b>{{players.draw}}</b></div>
        <div class="col-4 win-num-side" *ngIf="players == null">...</div>
      </div>
      <div class="row">
        <div class="col-7 win-name-side">&nbsp;Total Games</div>
        <div class="col-4 win-num-side" *ngIf="players != null"><b>{{getTotalGames()}}</b></div>
        <div class="col-4 win-num-side" *ngIf="players == null">...</div>
      </div>
    </mat-card>

  </div>
</div>

<!--------------------  Bottom Action Card (mobile)  -------------------->
<div *ngIf="!browser.isScreen767()" class="row">
  <div class="col-12">
    <mat-card class="actions-bottom" appearance="outlined">
      <div class="row">
        <div class="col-5">
          <mat-card-title cdkFocusInitial style="margin-top: -10px;">Current Player</mat-card-title>
          <div class="divider-container" style="margin-top: -6px !important;">
            <mat-divider></mat-divider>
          </div>
          <mat-card-content>
            <div *ngIf="isTurnX" class="x-turn" [@mediumFade]="'in'">X</div>
            <div *ngIf="!isTurnX && !isRobot" class="o-turn" style="margin-right: -6px" [@mediumFade]="'in'">o</div>
            <div *ngIf="!isTurnX && isRobot" class="robot-turn" [@mediumFade]="'in'">
              <fa-icon [icon]="['fas', 'robot']" size="4x" style="display: block; margin: -12px -8px 0 0;" transform="shrink-2.5"></fa-icon>
            </div>
          </mat-card-content>
        </div>

        <div class="col-7">
          <button mat-button class="change-btn-bottom" (click)="changeOpponent()">
            <fa-icon [icon]="['fas', 'user-friends']"></fa-icon>
            &nbsp;Change Opponent
          </button>
          <button mat-button class="reset-btn-bottom" (click)="resetBoard()">
            <fa-icon [icon]="['fas', 'undo-alt']"></fa-icon>
            &nbsp;Reset Board
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<!--------------------  Win Statistics (mobile)  -------------------->
<div *ngIf="!browser.isScreen992()" class="row win-stats-bottom">
  <div class="col-md-8 col-12">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Mr. Roboto Win Stats</mat-panel-title>
        <mat-panel-description>Since July 31, 2019</mat-panel-description>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-2"></div>
        <mat-form-field class="form-field">
          <input matInput placeholder="Mr. Roboto" readonly>
        </mat-form-field>
        <mat-form-field *ngIf="players != null" class="form-field">
          <input matInput placeholder="{{players.robotWins}}" style="text-align: right;" readonly>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <mat-form-field class="form-field">
          <input matInput placeholder="Humans" readonly>
        </mat-form-field>
        <mat-form-field *ngIf="players != null" class="form-field">
          <input matInput placeholder="{{players.humanWins}}" style="text-align: right;" readonly>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <mat-form-field class="form-field">
          <input matInput placeholder="Draws" readonly>
        </mat-form-field>
        <mat-form-field *ngIf="players != null" class="form-field">
          <input matInput placeholder="{{players.draw}}" style="text-align: right;" readonly>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-2"></div>
        <mat-form-field class="form-field">
          <input matInput placeholder="Total Games" readonly>
        </mat-form-field>
        <mat-form-field *ngIf="players != null" class="form-field">
          <input matInput placeholder="{{getTotalGames()}}" style="text-align: right;" readonly>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </div>
</div>

<!-- Template for an individual tile on the game board -->
<ng-template #tileTemplate let-i="i">
  <!-- Gameplay Icons -->
  <span *ngIf="!gameOver">
    <div *ngIf="board[i].x" class="x-player" [@fastFade]="'in'">X</div>
    <div *ngIf="board[i].o" [@fastFade]="'in'">
      <div *ngIf="!isRobot" class="o-player">o</div>
      <div *ngIf="isRobot">
        <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
        <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x"></fa-icon>
        <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x"></fa-icon>
      </div>
    </div>
  </span>

  <!-- Win Animations -->
  <span *ngIf="gameOver">
    <!-- Turn grey -->
    <span *ngIf="!board[i].winSpot">
      <div *ngIf="board[i].x" class="x-player" [@grey]="'in'">X</div>
      <span *ngIf="board[i].o" [@grey]="'in'">
        <div *ngIf="!isRobot" class="o-player">o</div>
        <span *ngIf="isRobot">
          <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
          <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x">
          </fa-icon>
          <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x">
          </fa-icon>
        </span>
      </span>
    </span>
    <!-- Turn blue -->
    <span *ngIf="board[i].winSpot">
      <div *ngIf="board[i].x" class="x-player" [@blue]="'in'">X</div>
      <span *ngIf="board[i].o" [@blue]="'in'">
        <div *ngIf="!isRobot" class="o-player">o</div>
        <span *ngIf="isRobot">
          <fa-icon *ngIf="browser.isScreen992()" [icon]="['fas', 'robot']" size="6x"></fa-icon>
          <fa-icon *ngIf="!browser.isScreen992() && browser.isScreen500()" [icon]="['fas', 'robot']" size="5x">
          </fa-icon>
          <fa-icon *ngIf="!browser.isScreen992() && !browser.isScreen500()" [icon]="['fas', 'robot']" size="4x">
          </fa-icon>
        </span>
      </span>
    </span>
  </span>
</ng-template>
