.container {
  padding-top: 16px;
  padding-bottom: 98px;
  overflow: hidden !important;
  min-height: calc(100vh - 108px);
}

.app-frame {
  min-height: calc(100vh);
  overflow: hidden !important;
}
