.container {
  padding-top: 16px;
  padding-bottom: 60px;
  overflow: hidden !important;
  min-height: calc(100vh - 168px);
}

.app-frame {
  min-height: calc(100vh);
  overflow: hidden !important;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}

::ng-deep .dark-theme .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: rgb(95, 100, 107) !important;
}
