img {
  border-radius: 4px;
  max-width: 100%;
  max-height: 100vh;
}

button {
  position: absolute;
  right: 8px;
  top: 8px;
}

fa-icon {
  display: block;
  margin-top: -11px;
  color: rgb(199, 199, 199);
}
