<div class="chart" id="chart" #chart></div>

<div class="row" style="margin-top: 100px;">
  <div class="col-12 center-children">
    <mat-form-field class="dropdown">
      <mat-label>Algorithm</mat-label>
      <mat-select [value]="0" [disabled]="algoServ.isProcessing()">
        <mat-option *ngFor="let algo of algos" [value]="algo.kind" (click)="setAlgo(algo)">
          {{ algo.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dropdown">
      <mat-label>Number of Elements</mat-label>
      <mat-select [value]="150" [disabled]="algoServ.isProcessing()">
        <mat-option *ngFor="let i of getArray(8, 50)" [value]="i" (click)="algoServ.setNumElements(i)">
          {{ i }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dropdown">
      <mat-label>Delay (ms)</mat-label>
      <mat-select [value]="algoServ.getDelay()" [disabled]="algoServ.isProcessing()">
        <mat-option [value]="0" (click)="algoServ.setDelay(0)">No Animation</mat-option>
        <mat-option [value]="1" (click)="algoServ.setDelay(1)">1</mat-option>
        <mat-option [value]="5" (click)="algoServ.setDelay(5)">5</mat-option>
        <mat-option *ngFor="let i of getArray(3, 10)" [value]="i" (click)="algoServ.setDelay(i)">
          {{ i }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button (click)="algoServ.randomize()" [disabled]="algoServ.isProcessing()">
      Randomize
    </button>
    <button mat-button (click)="onSort()" [disabled]="algoServ.isProcessing()">
      Sort
    </button>
  </div>
</div>
