.center-children {
  text-align: center;
}

.dropdown {
  width: 150px;
  margin-left: 20px;
}

button {
  background-color: rgb(33, 33, 33);
  color: white;
  margin-left: 20px;
}

.chart {
  height: 500px;
  max-width: 1000px;
  border-top: 14px solid var(--secondary);;
  margin-left: auto;
  margin-right: auto;
}

.element-number {
  transform: rotate(270deg);
  transform-origin: left top 0;
  font-size: 8px;
}
