<mat-toolbar class="navbar">
  <!-- Logo and theme buttons -->
  <mat-toolbar-row class="first-row">
    <a mat-button routerLink="home" routerLinkActive="current" matTooltip="Home" class="logo-button" matTooltipPosition="left">
      <img src="../../../assets/img/logo-light.png" class="un-lazy logo logo-light-img">
      <img src="../../../assets/img/logo-dark.png" class="un-lazy logo logo-dark-img">
    </a>

    <button mat-icon-button class="theme-button" matTooltip="Switch Theme" matTooltipPosition="below"
      matTooltipClass="mat-tooltip-multi" [matMenuTriggerFor]="themeMenu">
      <fa-icon *ngIf="themeService.isLight()" [icon]="['far', 'sun']" size="sm"></fa-icon>
      <fa-icon *ngIf="themeService.isDark()" [icon]="['far', 'moon']" size="sm"></fa-icon>
      <fa-icon *ngIf="themeService.isBlack()" [icon]="['fas', 'moon']" size="sm"></fa-icon>
    </button>
    <mat-menu #themeMenu="matMenu">
      <button mat-menu-item (click)="appComponent.setTheme(ThemeType.Light)">
        <fa-icon [icon]="['far', 'sun']" size="sm"></fa-icon>
        <span>Light</span>
      </button>
      <button mat-menu-item (click)="appComponent.setTheme(ThemeType.Dark)">
        <fa-icon [icon]="['far', 'moon']" size="sm"></fa-icon>
        <span>Dark</span>
      </button>
      <button mat-menu-item (click)="appComponent.setTheme(ThemeType.Black)">
        <fa-icon [icon]="['fas', 'moon']" size="sm"></fa-icon>
        <span>Night</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <!-- Portfolio, Tools, Games, and Info buttons -->
  <mat-toolbar-row class="second-row">
    <!-- Portfolio -->
    <a mat-button routerLink="portfolio" routerLinkActive="current" class="toolbar-item">
      Portfolio
    </a>
    <!-- Tools -->
    <a mat-button routerLink="tools" routerLinkActive="current" class="toolbar-item">
      Tools
    </a>
    <!-- Games -->
    <app-menu-auto-open>
      <div trigger>
        <div (click)="$event.stopPropagation();">
          <button mat-button class="toolbar-item"
            [ngClass]="router.url.includes('tic-tac-toe') || router.url.includes('algorithms') || router.url.includes('snake') ? 'current' : ''">
            Games
            &nbsp;<fa-icon [icon]="['fas', 'angle-down']" size="sm" class="caret"></fa-icon>
          </button>
        </div>
      </div>
      <div content>
        <a mat-menu-item routerLink="algorithms" routerLinkActive  color="primary">
          <fa-icon [icon]="['fas', 'sort-numeric-up-alt']" size="lg"></fa-icon>
          &nbsp;&nbsp;Algorithms
        </a>
        <a mat-menu-item routerLink="snake" routerLinkActive color="primary">
          <fa-icon [icon]="['fas', 'dragon']" size="lg"></fa-icon>
          &nbsp;Snake
        </a>
        <a mat-menu-item routerLink="tic-tac-toe" routerLinkActive #ttt="routerLinkActive" color="primary">
          <fa-icon [icon]="['fas', 'hashtag']" size="lg"></fa-icon>
          &nbsp;&nbsp;&thinsp;Tic-Tac-Toe
        </a>
      </div>
    </app-menu-auto-open>
    <!-- Info -->
    <app-menu-auto-open>
      <div trigger>
        <button (click)="$event.stopPropagation();" mat-button class="toolbar-item"
          [ngClass]="router.url.includes('build-info') || router.url.includes('about') ? 'current' : ''">
          Info
          &nbsp;<fa-icon [icon]="['fas', 'angle-down']" size="sm" class="caret"></fa-icon>
        </button>
      </div>
      <div content>
        <button mat-menu-item matTooltip="Click to copy" matTooltipPosition="right" (click)="copyToClipboard(emailAddress)">
          <fa-icon [icon]="['fas', 'envelope']" size="lg"></fa-icon>
          &nbsp;&nbsp;{{ emailAddress }}
        </button>

        <a mat-menu-item (click)="openSnackBar('Downloading resume.')" href="../../../assets/Scott VandenToorn Resume.pdf" download>
          &nbsp;<fa-icon [icon]="['fas', 'download']" size="lg"></fa-icon>
          &nbsp;Download Resume
        </a>

        <a mat-menu-item href="https://github.com/vandents" target="_blank">
          <fa-icon [icon]="['fab', 'github']" size="lg"></fa-icon>
          &nbsp;&nbsp;GitHub
        </a>

        <a mat-menu-item href="https://www.linkedin.com/in/scott-vandentoorn" target="_blank">
          <fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon>
          &nbsp;&nbsp;&thinsp;LinkedIn
        </a>

        <a mat-menu-item routerLink="about">
          <fa-icon [icon]="['fas', 'heart']" size="lg"></fa-icon>
          &nbsp;&nbsp;About
        </a>

        <a mat-menu-item routerLink="build-info">
          <fa-icon [icon]="['fas', 'hammer']" size="lg" transform="shrink-1.5"></fa-icon>
          &nbsp;&thinsp;Build Info
        </a>
      </div>
    </app-menu-auto-open>

  </mat-toolbar-row>
</mat-toolbar>
