.navbar {
  position: -webkit-sticky !important;
  position: sticky;
  top: 0;                       /* Sets the sticky toolbar to be at the top */
  z-index: 1000;                /* Ensure that content doesn't overlap the toolbar */
  padding: 0px;
  min-height: 44px !important;  /* Always change this value in the toolbar row as well */
}

.navbar {
  box-shadow: inset 0 -1px 0 #21262d;
}

::ng-deep .light-theme .navbar {
  box-shadow: inset 0 -1px 0 rgb(208, 215, 222) !important;
}

/* Gets rid of default link styling. */
.mat-menu-item:hover {
  color: white;
}

mat-toolbar-row {
  padding: 0;
  height: 44px;
}

.second-row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 4px;
}

.logo {
  width: auto;
  height: 42px;
  padding: 4px 0;
}

.logo-button {
  height: 50px;
}

.theme-button {
  position: absolute;
  right: 16px;
  top: 8px;
  min-width: 0px;
}

::ng-deep {
  .mat-mdc-menu-item fa-icon {
    padding-right: 8px;
    font-size: 110%;
  }
}

@media (max-width: 350px) {
  .mat-button {
    margin: 2px 0;
  }
}
