/* Gets rid of default link styling. */
.mat-menu-item:hover {
  color: white;
}

mat-toolbar-row {
  padding: 0;
}

.mat-button {
  margin: 2px 4px;
}

::ng-deep {
  .mat-mdc-menu-item fa-icon {
    padding-right: 8px;
    font-size: 110%;
  }
}

@media (max-width: 350px) {
  .mat-button {
    margin: 2px 0;
  }
}
