/********************************
 * Logos
 ********************************/

.mat-card-avatar {
  height: 75px;
  width: 75px;
}

.gvsu-logo {
  background-image: url('../../../assets/img/gvsu-logo.jpg');
  background-size: cover;
}

.dornerworks-logo {
  background-image: url('../../../assets/img/dornerworks.png');
  background-size: cover;
}

.volgistics-logo {
  background-image: url('../../../assets/img/volgistics.png');
  background-size: cover;
}


/********************************
 * Welcome card
 ********************************/

.avi {
  background-image: url('../../../assets/img/avi.jpg');
  background-size: cover;
  height: 135px;
  width: 135px;
  align-self: center;
}

.welcome-card .mat-card-header {
  justify-content: center;
}

.welcome-card .mat-card-content {
  padding-top: 12px;
}

.welcome-text-desktop, h1 {
  align-self: center;
}

.welcome-text-desktop {
  max-width: 55%;
  padding-left: 24px;
}

@media(max-width: 500px) {
  h1 {
    margin: 0 0 0 -12px;
    font-weight: 400;
  }
  .avi {
    height: 130px;
    width: 130px;
  }
}

@media(max-width: 410px) {
  h1 {
    margin-left: -14px;
    font-size: 2.3rem;
  }
  .avi {
    height: 110px;
    width: 110px;
  }
}

@media (max-width: 350px) {
  h1 {
    margin-left: -16px;
    font-size: 2.2rem !important;
  }
  .avi {
    height: 100px;
    width: 100px;
  }
}


/********************************
 * Other
 ********************************/

.mat-mdc-card-content {
  margin: 6px 0 0 0;
}

.programming-card {
  padding: 16px;
}

h2 {
  margin-top: 28px;
}

.know-h4 {
  margin: 18px 0 7px 0;
}

mat-chip {
  user-select: none;
}

fa-icon {
  margin-left: -4px !important;
  padding-right: 8px;
}
