/* Headings */
h2 { margin-top: 20px; }

.know-h4 {
  margin: 18px 0px 7px 0px;
}


/* Headshot picture */
img.avi {
  height: 200px;
  clip-path: circle(100px at center);
  width: auto;
}

.avi {
  background-image: url('../../../assets/img/avi.jpg');
  background-size: cover;
  /* Override .mat-card-avatar height/width */
  height: 145px !important;
  width: 145px !important;
  /* Auto margins to center avi when text drops below @ <= 400px */
  margin-right: auto;
  margin-left: auto;
}


/* Logos */
.mat-card-avatar {
  height: 75px;
  width: 75px;
}

.gvsu-logo {
  background-image: url('../../../assets/img/gvsu-logo.jpg');
  background-size: cover;
}

.volgistics-logo {
  background-image: url('../../../assets/img/volgistics.png');
  background-size: cover;
}

fa-icon {
  margin-left: -4px !important;
}
