<h1 *ngIf="browser.isScreen500()">Welcome!</h1>
<mat-card class="welcome-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="avi"></div>
    <h1 *ngIf="!browser.isScreen500()" style="margin-left: 16px;">Welcome!</h1>
    <span *ngIf="browser.isScreen500()" class="welcome-text-desktop card-text">
      Greetings! I'm Scott VandenToorn, on the lookout for the next chapter in my engineering career.
      Delighted to have you visit my personal website, dedicated to highlighting my various projects.
      Your interest is greatly appreciated!
    </span>
  </mat-card-header>
  <mat-card-content *ngIf="!browser.isScreen500()">
    Greetings! I'm Scott VandenToorn, on the lookout for the next chapter in my engineering career.
    Delighted to have you visit my personal website, dedicated to highlighting my various projects.
    Your interest is greatly appreciated!
  </mat-card-content>
</mat-card>


<h2>Experience</h2>
<!-- <mat-card style="margin-bottom: 12px;" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="toorn-logo"></div>
    <mat-card-title>Lead Angular Developer</mat-card-title>
    <mat-card-subtitle>TSPi</mat-card-subtitle>
    <mat-card-subtitle>March 2024 - Present</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card-text">
    Toorn Web Development is a freelance website designer and developer providing tailored solutions
    that elevate your business's online presence.
    We're currently a one-man show with me, myself, and I doing the client acquisition, design, and development.
    Check it out at <a href="https://www.toorn.dev" target="_blank">toorn.dev</a>.
  </mat-card-content>
</mat-card> -->

<!-- <mat-card style="margin-bottom: 12px;" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="toorn-logo"></div>
    <mat-card-title>Freelance Web Developer</mat-card-title>
    <mat-card-subtitle>Toorn Web Development, Wayland, MI</mat-card-subtitle>
    <mat-card-subtitle>December 2023 - Present</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card-text">
    Toorn Web Development is a freelance website designer and developer providing tailored solutions
    that elevate your business's online presence.
    We're currently a one-man show with me, myself, and I doing the client acquisition, design, and development.
    Check it out at <a href="https://www.toorn.dev" target="_blank">toorn.dev</a>.
  </mat-card-content>
</mat-card> -->


<mat-card style="margin-bottom: 12px;" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="volgistics-logo"></div>
    <mat-card-title>Full Stack Engineer</mat-card-title>
    <mat-card-subtitle>Volgistics, Byron Center, MI</mat-card-subtitle>
    <mat-card-subtitle>July 2019 - May 2020, September 2020 - June 2023</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card-text">
    <p>
      Volgistics is a small software company dedicated to providing software to manage an organization's volunteers.
      The team consists of 4 engineers, 2 IT professionals, 6 customer support/software testers, and an accountant,
      and they take great pride in developing software that helps make volunteering easy for people around the world.
    </p>
    <p>
      The Volgistics stack is a combination of legacy and modern components. The back end is hosted on Windows Server,
      with Delphi performing logic, and data stored in a BTrieve database, while the front-end applications are single
      page web and native apps built with the Angular and Capacitor frameworks.
    </p>
    <p>
      By pioneering native apps and DevOps for Volgistics, along with many other projects, I helped foster a pivotal
      transition for the company that enhanced market competetiveness and increased the quality of development.
    </p>
  </mat-card-content>
</mat-card>


<mat-card style="margin-bottom: 12px;" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="dornerworks-logo"></div>
    <mat-card-title>Full Stack Engineer <small>(Internship)</small></mat-card-title>
    <mat-card-subtitle>DornerWorks, Grand Rapids, MI</mat-card-subtitle>
    <mat-card-subtitle>May 2020 - August 2020</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="card-text">
    <p>
      DornerWorks was an opportunity for me to be mentored by the best in the business.
      During my stay I worked on a variety of projects, most notably a timesheet Dornerworks uses to track hours
      for over 200 employees, which greatly decreased the amount of time engineers spend logging hours.
    </p>
  </mat-card-content>
</mat-card>


<h2>Programming Knowledge</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card appearance="outlined" class="programming-card">
      <p>
        Technologies that I have a high degree of proficiency with.
      </p>
      <h4>IDEs</h4>
      <mat-chip-listbox>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          Android Studio
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fas', 'laptop-code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          VSCode
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'apple']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          XCode
        </mat-chip-option>
      </mat-chip-listbox>

      <h4 class="know-h4">Languages</h4>
      <mat-chip-listbox>
        <mat-chip-option>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          Delphi
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'js-square']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          JavaScript
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'python']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          Python
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          TypeScript
        </mat-chip-option>
      </mat-chip-listbox>

      <h4 class="know-h4">Platforms</h4>
      <mat-chip-listbox>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'android']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          Android
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'apple']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          iOS
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          Web
        </mat-chip-option>
      </mat-chip-listbox>

      <h4 class="know-h4">CI/CD and Version Control</h4>
      <mat-chip-listbox>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'git']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          Git
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'github']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          GitHub
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fab', 'gitlab']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          GitLab
        </mat-chip-option>
        <mat-chip-option>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          YAML
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-card>
  </div>
</div>
