/********************************
 * Logos
 ********************************/

.mat-card-avatar {
  height: 75px;
  width: 75px;
}

.gvsu-logo {
  background-image: url('../../../assets/img/gvsu-logo.jpg');
  background-size: cover;
}

.dornerworks-logo {
  background-image: url('../../../assets/img/dornerworks.png');
  background-size: cover;
}

.volgistics-logo {
  background-image: url('../../../assets/img/volgistics.png');
  background-size: cover;
}

.tspi-logo {
  background-image: url('../../../assets/img/tspi.jpg');
  background-size: cover;
  background-position: center;
}


/********************************
 * Welcome card
 ********************************/

.avi {
  background-image: url('../../../assets/img/avi.jpg');
  background-size: cover;
  height: 135px;
  width: 135px;
  align-self: center;
}

.welcome-card .mat-card-header {
  justify-content: center;
}

.welcome-card .mat-card-content {
  padding-top: 12px;
}

.welcome-text-desktop, h1 {
  align-self: center;
}

.welcome-text-desktop {
  flex: 1;
  padding-left: 24px;
  padding-right: 24px;
}

.welcome-buttons-desktop {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: center;
  min-width: 200px;

  button, a {
    white-space: nowrap;

    fa-icon {
      margin-right: 8px;
    }
  }
}

.welcome-buttons-mobile {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
  margin: 0;

  button, a {
    width: 100%;

    fa-icon {
      margin-right: 8px;
    }
  }
}

/********************************
 * Theme-specific styles
 ********************************/

:host-context(.light-theme) {
  .welcome-buttons-desktop ::ng-deep button.mat-primary,
  .welcome-buttons-mobile ::ng-deep button.mat-primary {
    background-color: rgb(57, 79, 116) !important;
    color: white !important;
  }
}

:host-context(.dark-theme) {
  .welcome-buttons-desktop ::ng-deep a.mat-mdc-raised-button,
  .welcome-buttons-mobile ::ng-deep a.mat-mdc-raised-button {
    background-color: rgb(13, 17, 22) !important;
    color: white !important;
  }
}

:host-context(.black-theme) {
  .welcome-buttons-desktop ::ng-deep a.mat-mdc-raised-button,
  .welcome-buttons-mobile ::ng-deep a.mat-mdc-raised-button {
    background-color: black !important;
    color: white !important;
  }
}

@media(max-width: 500px) {
  h1 {
    margin: 0 0 0 -12px;
    font-weight: 400;
  }
  .avi {
    height: 130px;
    width: 130px;
  }
}

@media(max-width: 410px) {
  h1 {
    margin-left: -14px;
    font-size: 2.3rem;
  }
  .avi {
    height: 110px;
    width: 110px;
  }
}

@media (max-width: 350px) {
  h1 {
    margin-left: -16px;
    font-size: 2.2rem !important;
  }
  .avi {
    height: 100px;
    width: 100px;
  }
}


/********************************
 * Other
 ********************************/

.mat-mdc-card-content {
  margin: 6px 0 0 0;
}

.programming-card {
  padding: 16px;
}

h2 {
  margin-top: 28px;
}

.know-h4 {
  margin: 18px 0 7px 0;
}

mat-chip {
  user-select: none;
}

fa-icon {
  margin-left: -4px !important;
  padding-right: 8px;
}
