/********************************
 * Clickable Project Images
 ********************************/

.project-img {
  border-radius: 4px !important;
  display: block;
  margin: 0 auto 16px auto;
  max-height: 400px;
  width: auto;
  max-width: calc(100vw - 48px);
}

.project-img:hover {
  cursor: pointer;
}

video:hover {
  pointer-events: none;
}

.multi-img {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 64px);
  overflow-x: auto;
}

.multi-img .project-img {
  margin: 0 8px 16px 8px;
}

@media screen and (max-width: 768px) {
  .project-img {
    pointer-events: none;
  }
}

@media screen and (max-width: 430px) {
  .multi-img .project-img {
    height: auto;
    width: 160px;
  }
}

@media screen and (max-width: 400px) {
  .project-img {
    max-height: 375px;
  }
  .multi-img .project-img {
    width: 150px;
  }
}

@media screen and (max-width: 370px) {
  .project-img {
    max-height: 350px;
  }
  .multi-img .project-img {
    width: 140px;
  }
}

@media screen and (max-width: 350px) {
  .project-img {
    max-height: 330px;
  }
  .multi-img .project-img {
    width: 130px;
  }
}

@media screen and (max-width: 330px) {
  .project-img {
    max-height: 310px;
  }
  .multi-img .project-img {
    width: 120px;
  }
}


/********************************
 * Links
 ********************************/

.link {
  display: inline-block;
  vertical-align: text-top;
}

.a-build {
  position: absolute;
  bottom: -13px;
  right: 25px;
}


/********************************
 * Other
 ********************************/

h2 {
  margin: 16px;
  display: inline-block;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

mat-card-title {
  font-size: 175% !important;
}

mat-card {
  padding-top: 2px !important;
  margin-bottom: 16px;
}

@media(min-width: 992px) {
  .divider-container {
    width: 64% !important;
  }
}
