<h1>Portfolio.</h1>
<p>A non-exhaustive list of cool things I've made!</p>

<mat-card appearance="outlined">
  <h2>
    USDA FSA Customer Check-in Kiosk
  </h2>
  <img mat-card-image class="project-img" src="../../../assets/img/customer-check-in.jpg" alt="Screenshot of Customer Check-in Application"
    (click)="openViewImageDialog('../../../assets/img/customer-check-in.jpg')" [matTooltip]="getTooltip()" matTooltipPosition="right">
  <mat-card-content class="no-margin-bottom" style="margin-top: 5px;">
    The FSA Customer Check-in Kiosk allows farmers to check in for their appointment and be put into a queue - similar to checking in at the DMV.
    Our team is also responsible for rewriting the employee-facing application using Angular, however as it is an internal application I am not at
    liberty to divulge any additional info!
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <h2>
    VicTouch
    <a class="link" href="https://www.volgistics.com/help/victouch-time-clock/victouch-overview/" target="_blank" aria-label="More info about VicTouch"
      matTooltip="More info" matTooltipPosition="right">
      <fa-icon [icon]="['fas', 'link']" size="xs"></fa-icon>
    </a>
  </h2>
  <div class="multi-img">
    <img *ngFor="let number of [1, 2, 3, 4, 5]" mat-card-image class="project-img" [src]="'../../../assets/img/victouch-' + number + '.webp'" alt="VicNet screenshot"
      (click)="openViewImageDialog('../../../assets/img/victouch-' + number + '.webp')" [matTooltip]="getTooltip()" matTooltipPosition="below">
  </div>
  <mat-card-content>
    The core function of VicTouch is to allow volunteers to clock in and out when they arrive and depart when serving at their organization.
    It also features messaging, scheduling, and touchless QR code sign-in.
  </mat-card-content>
  <mat-card-content class="no-margin-bottom" style="margin-top: 5px;">
    VicTouch was solo-developed by me for Volgistics, and was the first app Volgistics released to the App Store and Play Store.
    The front end features an Angular SPA, while the back end runs on Windows Server and uses compiled Delphi code querying a BTrieve database.
    Capacitor is used as a wrapper around the Angular project allowing the same code base to be used in the web, App Store, and Google Play Store.
    VicTouch is continuously integrated and deployed using GitLab CI/CD tools.
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <h2>
    VicNet
    <a class="link" href="https://www.volgistics.com/help/vicnet-portal/vicnet-overview/" target="_blank" aria-label="More info about VicNet"
      matTooltip="More info" matTooltipPosition="right">
      <fa-icon [icon]="['fas', 'link']" size="xs"></fa-icon>
    </a>
  </h2>
  <div class="multi-img">
    <img *ngFor="let number of [1, 2, 3, 4, 5, 6]" mat-card-image class="project-img" [src]="'../../../assets/img/vicnet-' + number + '.webp'" alt="VicNet screenshot"
      (click)="openViewImageDialog('../../../assets/img/vicnet-' + number + '.webp')" [matTooltip]="getTooltip()" matTooltipPosition="below">
  </div>
  <mat-card-content class="no-margin-bottom" style="margin-top: 5px;">
    VicNet allows volunteers to view and manage their schedule, view or post their service, receive messages from their organization, and update their profile information.
    I collaborated with multiple engineers and testers to develop the user-friendly, social media-inspired interface.
    It features the same stack as VicTouch and uses the CI/CD and native app framework pioneered with VicTouch.
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <h2>
    Volgistics Help
    <a class="link" href="https://www.volgistics.com/help/" target="_blank" aria-label="Launch help docs"
      matTooltip="Launch help docs" matTooltipPosition="right">
      <fa-icon [icon]="['fas', 'link']" size="xs"></fa-icon>
    </a>
  </h2>
  <img mat-card-image class="project-img" src="../../../assets/img/help.jpg" alt="Screenshot of Volgistics Help Docs"
    (click)="openViewImageDialog('../../../assets/img/help.jpg')" [matTooltip]="getTooltip()" matTooltipPosition="right">
  <mat-card-content class="no-margin-bottom" style="margin-top: 5px;">
    Over 700 help pages that can be easily updated by non-engineers. The original help pages were static HTML files;
    I used Selenium and Python to convert each page to markdown, then used Vuepress to read and display the files.
    One key part of developing Volgistics Help was working with non-technical individuals to ensure they could understand and update the documentation.
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <h2>
    Harry's Appraisals
    <a class="link" href="https://www.harrysappraisals.com" target="_blank" aria-label="Harry's Appraisals"
      matTooltip="Visit site" matTooltipPosition="right">
      <fa-icon [icon]="['fas', 'link']" size="xs"></fa-icon>
    </a>
  </h2>
  <img mat-card-image class="project-img" src="../../../assets/img/harrys-appraisals.jpg" alt="Screenshot of Harry's Appraisals website"
    (click)="openViewImageDialog('../../../assets/img/harrys-appraisals.jpg')" [matTooltip]="getTooltip()" matTooltipPosition="right">
  <mat-card-content class="no-margin-bottom" style="margin-top: 5px;">
    A simple Angular site for a local insurance appraisal business.
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <h2>
    TI Launchpad Slot Machine
    <a class="link" href="https://github.com/vandents/TI-MSP432-Launchpad-Slot-Machine" target="_blank" aria-label="Link to slot machine repository"
      matTooltip="GitHub" matTooltipPosition="right">
      <fa-icon [icon]="['fas', 'link']" size="xs"></fa-icon>
    </a>
  </h2>
  <div class="multi-img">
    <img *ngFor="let number of [1, 2, 3, 4]" mat-card-image class="project-img" [src]="'../../../assets/img/slot-machine-' + number + '.jpg'" alt="Slot machine"
      (click)="openViewImageDialog('../../../assets/img/slot-machine-' + number + '.jpg')" [matTooltip]="getTooltip()" matTooltipPosition="below">
  </div>
  <mat-card-content>
    It looks like a GameBoy, but this device is actually a slot machine that accepts pennies. Classmate Zakkaria Hales and I designed and
    programmed the machine as the final project in a microcontroller class. Being the dirty capitalists we are, we rigged the game against
    the player; penny by penny we hope to recover all the money we've spent on textbooks.
  </mat-card-content>
  <mat-card-content class="no-margin-bottom">
    The design constraints were to design a slot machine which must utilize a keypad, pushbuttons, speaker, tri-color LED,
    7-segment display indicating level of brightness, 16x4 LCD with potentiometer controlled brightness, and a TI MSP432 Launchpad
    to do the decision making. Additional features we added include a penny slot for credit entry, a door attached to a
    positional servo for penny retrieval, rechargeable battery, relaxing blue ambient lighting, and a selection of Super
    Mario Bros tunes of which the user can set to be their victory sound.
  </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
  <h2>
    Robo Sockey Arduino Robot
    <a class="link" href="https://github.com/vandents/TI-MSP432-Launchpad-Slot-Machine" target="_blank" aria-label="Link to robo sockey robot repository"
      matTooltip="GitHub" matTooltipPosition="right">
      <fa-icon [icon]="['fas', 'link']" size="xs"></fa-icon>
    </a>
  </h2>
  <div class="multi-img">
    <img *ngFor="let number of [1, 2, 3, 4, 5]" mat-card-image class="project-img" [src]="'../../../assets/img/the-boi-' + number + '.jpg'" alt="Robo sockey"
      (click)="openViewImageDialog('../../../assets/img/the-boi-' + number + '.jpg')" [matTooltip]="getTooltip()" matTooltipPosition="below">
  </div>
  <mat-card-content>
    GVSU's Robo Sockey competition, a mix between soccer and hockey, is a semester long competition between students enrolled
    in the Introduction to Engineering II courses. Around 40 teams, each consisting of 4 students, are tasked with creating an
    Arduino robot capable of autonomously navigating a course full of obstacles and other robots. Simultaneously, the robots must
    find and capture randomly placed balls and deliver them to one of the 4 goals. With 4 robots in the 6-foot-by-6-foot arena,
    teams have three minutes to score as many points as they can before the rounds is over.
  </mat-card-content>
  <mat-card-content class="no-margin-bottom">
    My hard-working team implemented many original design features into our robot, which we named The Boi. The Boi scored as many
    goals as he could muster, managing to obtain first place and earn the Design Innovation Award.
  </mat-card-content>
</mat-card>
