<div class="flex-box">
  <div>
    <h2>Build</h2>
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let build of buildInfo">
            <fa-icon [icon]="[build.iconPackage, build.icon]" size="lg" matListItemAvatar></fa-icon>
            <h3 matListItemTitle>{{ build.name }}</h3>
            <a matListItemLine [href]="build.link" target="_blank" (click)="onLinkClick($event, build.link)" [ngClass]="build.link ? '' : 'no-link'" >
              {{ build.version }}
            </a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <h2 class="depend">Dependencies</h2>
    <mat-card appearance="outlined">
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let dep of dependencies">
            <fa-icon [icon]="[dep.iconPackage, dep.icon]" size="lg" matListItemAvatar></fa-icon>
            <h3 matListItemTitle>{{ dep.name }}</h3>
            <a matListItemLine [href]="dep.link" target="_blank" >
              {{ dep.version }}
            </a>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
