h2,
mat-card {
  width: 310px;
}

.no-link:hover {
  cursor: default;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

fa-icon {
  background-color: transparent;
}

@media (max-width: 767px) {
  h2,
  mat-card {
    margin-left: auto;
    margin-right: auto;
  }
  h2.depend {
    margin-top: 28px;
  }
  .flex-box {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}

// Light theme support
:host-context(.light-theme) {
  .no-link:hover {
    color: rgba(0, 0, 0, 0.7);
  }
}

// Dark theme support
:host-context(.dark-theme),
:host-context(.black-theme) {
  .no-link:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}
