h2,
mat-card {
  width: 310px;
}

.no-link:hover {
  cursor: default;
  color: rgba(255, 255, 255, 0.7);
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 767px) {
  h2,
  mat-card {
    margin-left: auto;
    margin-right: auto;
  }
  h2.depend {
    margin-top: 28px;
  }
  .flex-box {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
}
