<h1>Welcome! My name is Scott VandenToorn.</h1>

<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="avi"></div>
    <p>
      I'm a computer engineering student at GVSU with experience in web development and microcontrollers.
      I never cared much for computers (except for video games of course) until I found out that it's not that hard to make them do cool things - and often times those cool things can really benefit people.
    </p>
  </mat-card-header>
</mat-card>

<h2>Education</h2>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="gvsu-logo"></div>
    <mat-card-title>Bachelor of Science in Computer Engineering</mat-card-title>
    <mat-card-subtitle>Grand Valley State University, Allendale, MI</mat-card-subtitle>
    <mat-card-subtitle>2017 - 2022</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    I'm currently pursuing a degree in computer engineering to prepare myself for a career in one of the most exciting fields.
  </mat-card-content>

  <mat-card-actions>
    <mat-chip-list>
      <mat-chip>
        <fa-icon [icon]="['fas', 'balance-scale']" size="lg" transform="shrink-7" [mask]="['fas', 'circle']"></fa-icon>
        &nbsp;3.5 GPA
      </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>

<h2>Experience</h2>
<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="volgistics-logo"></div>
    <mat-card-title>Software Developer Intern</mat-card-title>
    <mat-card-subtitle>Byron Center, MI</mat-card-subtitle>
    <mat-card-subtitle>July 2019 - Present</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    Volgistics is a group of dedicated individuals who provide web software and a cloud database to manage an organizations volunteers. I take great pride in the part I play developing a software that real people benefit from. Volgistics is written in Delphi and I use the Angular framework to transform it into a web application.
  </mat-card-content>
  <mat-card-actions>
    <mat-chip-list>
      <mat-chip>
        <fa-icon [icon]="['fab', 'angular']" size="lg" transform="shrink-5" [mask]="['fas', 'circle']"></fa-icon>
        &nbsp;Angular
      </mat-chip>
      <mat-chip>
        <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
        &nbsp;TypeScript
      </mat-chip>
      <mat-chip>
        <fa-icon [icon]="['fab', 'html5']" size="lg" transform="shrink-5.5" [mask]="['fas', 'circle']"></fa-icon>
        &nbsp;HTML5
      </mat-chip>
      <mat-chip>
        <fa-icon [icon]="['fab', 'sass']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
        &nbsp;SCSS
      </mat-chip>
      <mat-chip>
        <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
        &nbsp;Subversion
      </mat-chip>
      <mat-chip>
        <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
        &nbsp;Visual Studio Code
      </mat-chip>
    </mat-chip-list>
  </mat-card-actions>
</mat-card>

<h2>Programming Knowledge</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <p>
        Here are some technologies that I have used before and know how to use. I am better with some more than others.
      </p>
      <h4>Languages</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;C
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code']" size="lg" transform="shrink-7.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;TypeScript
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'js-square']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;JavaScript
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'html5']" size="lg" transform="shrink-5.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;HTML5
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'sass']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;SCSS
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'css3-alt']" size="lg" transform="shrink-5.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;CSS
        </mat-chip>
      </mat-chip-list>

      <h4 class="know-h4">Web Frameworks</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fab', 'angular']" size="lg" transform="shrink-5.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Angular
        </mat-chip>
      </mat-chip-list>

      <h4 class="know-h4">Version Control</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'code-branch']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Subversion
        </mat-chip>
      </mat-chip-list>

      <h4 class="know-h4">Platforms</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Web
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'microchip']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Arduino
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'microchip']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;TI Launchpad
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'terminal']" size="lg" transform="shrink-8.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Terminal
        </mat-chip>
      </mat-chip-list>

      <h4 class="know-h4">IDEs</h4>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'mouse-pointer']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Visual Studio Code
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'microchip']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Code Composer Studio
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'terminal']" size="lg" transform="shrink-8.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Code::Blocks
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</div>

<h2>Other Skills</h2>
<div class="row">
  <div class="col-md-12">
    <mat-card>
      <mat-chip-list>
        <mat-chip>
          <fa-icon [icon]="['fas', 'microchip']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Microcontrollers
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'microchip']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Circuits
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fab', 'windows']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']"></fa-icon>
          &nbsp;Microsoft Office
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'monument']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']" rotate="180"></fa-icon>
          &nbsp;CNC Machining
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'monument']" size="lg" transform="shrink-6.5" [mask]="['fas', 'circle']" rotate="180"></fa-icon>
          &nbsp;G Code
        </mat-chip>
        <mat-chip>
          <fa-icon [icon]="['fas', 'cube']" size="lg" transform="shrink-5.5" [mask]="['fas', 'circle']">
          </fa-icon>
          &nbsp;SolidWorks
        </mat-chip>
      </mat-chip-list>
    </mat-card>
  </div>
</div>

<div style="margin-bottom: 12px;"></div>
<a class="a-download-res" (click)="openSnackBar('Downloading resume.')" href="../../assets/vandentoorn_resume.pdf" download>
  <button mat-button class="btn-download-res">Download Resume</button>
</a>
<div style="margin-bottom: 35px;"></div>