name: deploy-pages
run-name: Building and deploying to GitHub pages
on: [push]
jobs:
  deploy-pages:
    runs-on: self-hosted
    steps:
      - name: Build and deploy to pages
        shell: bash
        env:
          ENVIRONMENT: ${{ secrets.ENVIRONMENT }}
        run: |
          echo -e $'\033[34m\n=========================================\033[0m' 2>&1 | tee /dev/tty
          echo -e "\033[34mStarting deployment at $(date)\033[0m" 2>&1 | tee /dev/tty
          echo -e $'\033[34m=========================================\n\033[0m' 2>&1 | tee /dev/tty

          echo -e "\033[34mCleaning up old scottv.dev directory...\033[0m" 2>&1 | tee /dev/tty
          if [ -d "./scottv.dev" ]; then rm -Rf ./scottv.dev; fi

          echo -e "\033[34mCloning repository...\033[0m" 2>&1 | tee /dev/tty
          git clone https://github.com/vandents/scottv.dev.git 2>&1 | tee /dev/tty
          cd scottv.dev

          echo -e "\033[34mInstalling dependencies...\033[0m" 2>&1 | tee /dev/tty
          npm i 2>&1 | tee /dev/tty

          echo -e "\033[34mSetting environment variables...\033[0m" 2>&1 | tee /dev/tty
          npx ts-node ./src/set-env.ts "$ENVIRONMENT" 2>&1 | tee /dev/tty

          echo -e "\033[34mBuilding application...\033[0m" 2>&1 | tee /dev/tty
          npm run build 2>&1 | tee /dev/tty

          cd ..

          echo -e "\033[34mCleaning up old scottv-pages directory...\033[0m" 2>&1 | tee /dev/tty
          if [ -d "./scottv-pages" ]; then rm -Rf ./scottv-pages; fi

          echo -e "\033[34mCloning gh-pages branch...\033[0m" 2>&1 | tee /dev/tty
          git clone https://github.com/vandents/scottv.dev.git scottv-pages 2>&1 | tee /dev/tty
          cd scottv-pages
          git checkout gh-pages 2>&1 | tee /dev/tty

          echo -e "\033[34mRemoving old files from gh-pages...\033[0m" 2>&1 | tee /dev/tty
          rm -r * 2>&1 | tee /dev/tty

          echo -e "\033[34mCopying new build files...\033[0m" 2>&1 | tee /dev/tty
          mv ../scottv.dev/dist/browser/* ./ 2>&1 | tee /dev/tty
          cp index.html 404.html 2>&1 | tee /dev/tty

          echo -e "\033[34mCommitting changes...\033[0m" 2>&1 | tee /dev/tty
          git add -A 2>&1 | tee /dev/tty
          git commit -m "Uploading from self-hosted runner at $(date)" 2>&1 | tee /dev/tty

          echo -e "\033[34mPushing to GitHub...\033[0m" 2>&1 | tee /dev/tty
          git push 2>&1 | tee /dev/tty

          echo -e $'\033[34m\n=========================================\033[0m' 2>&1 | tee /dev/tty
          echo -e "\033[34mDeployment completed at $(date)\033[0m" 2>&1 | tee /dev/tty
          echo -e $'\033[34m=========================================\n\033[0m' 2>&1 | tee /dev/tty
