mat-card {
  max-width: 500px;
}

mat-card-title {
  text-align: center;
  font-size: 200%;
}
@media screen and (max-width: 470px) {
  mat-card-title {
    font-size: 175%;
  }
}
@media screen and (max-width: 425px) {
  mat-card-title {
    font-size: 165%;
  }
}
@media screen and (max-width: 390px) {
  mat-card-title {
    font-size: 155%;
  }
}
@media screen and (max-width: 370px) {
  mat-card-title {
    font-size: 145%;
  }
}
